/* Empty. Add your own CSS if you like */


.bar.bar-transparent {
    background-color: transparent;
    background-image: none;
    border: none;
}

.bar .title {
    color: #eee;
}

.swipe-cards {
    position: fixed;
}

.swipe-card {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    top: -1000%;
    left: -5%;
    width: 90%;
    height: 1600%;
    margin-left: 10%;
    margin-top: 250px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
    vertical-align: middle;
}

    .swipe-card .title {
        height: 40px;
        padding: 5px;
        line-height: 30px;
        color: #444;
    }

    .swipe-card .image {
        overflow: hidden;
        max-height: 210px;
    }

    .swipe-card .button {
        border: none;
    }

    .swipe-card .image img {
        width: 100%;
        border-radius: 0px 0px 4px 4px;
    }

#start-card {
    color: #fff;
    background-color: #30BD8A;
    line-height: 300px;
    word-wrap: break-word;
    border: 6px solid #4CD68E;
    text-align: center;
}

    #start-card span {
        display: inline-block;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 30px;
        vertical-align: middle;
    }

#footer .button {
    color: #fff;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0,0);
    }

    70% {
        -webkit-transform: scale(1.2,1.2);
    }

    100% {
        -webkit-transform: scale(1,1);
    }
}

.swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}

.swipe-card.pop-in {
    -webkit-animation: bounceIn 0.3s ease-out;
}

.imgFrame {
    width: 95%;
    height: auto;
}

.col-10 a.button.button-icon.icon.ion-edit:before {
    font-size: 150%;
}

.col-15 a.button.button-icon.icon.ion-trash-a:before {
    font-size: 200%;
}


.color-white {
    color: white;
}

.tab-title {
    color: white;
}

.scheduleEventPadding {
    padding: 0 !important;
}

.checkbox input, .checkbox-icon {
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px;
}

    .checkbox input:after, .checkbox-icon:after {
        width: 10px !important;
        height: 6.33333px !important;
    }


.lateralBorders {
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
}

.topBorder {
    border-top: 1px solid #b2b2b2;
}

.bottomBorder {
    border-bottom: 1px solid #b2b2b2;
}

.ion-android-checkmark:before {
    content: "\f2d5";
    margin-top: 17px !important;
}

.ion-android-alarm:before {
    content: "\f2c8";
    margin-top: 17px !important;
}


.slider-pager {
    position: relative !important;
}

.noPadding {
    padding: 0;
}

.cardContent {
    margin: 0 !important;
    border-width: 0 !important;
    box-shadow: none !important;
    max-height: 300px !important;
    height: 300px !important;
}



.sliderTitle {
    font-weight: bold;
    font-size: 11px;
    float: left;
    font-style: italic;
    margin-top: 2px;
    white-space: pre-line;
}

.feedbackNotifBody {
    height: 84%;
    background-color: rgb(240,240,240);
}

.feedbackHeader {
    background-color: #D4E3FC;
}

.notificationHeader {
    background-color: #FFDAD8;
}

.red {
}

.green {
}

.ion-close-round.green:before {
    content: "\f129";
    font-weight: bolder;
    font-size: large;
    color: rgb(0,161,201);
}

.ion-close-round.red:before {
    content: "\f129";
    font-weight: bolder;
    font-size: large;
    color: #E61610;
}

.homeBackground {
    background-image: url(../img/logoAAC.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 70px;
}

.imgSize {
    height: auto !important;
    width: 200px !important;
}


.activityBorder {
    border-width: 10px 0 0 0 !important;
    border-style: solid;
}

.notificationBorder {
    border-color: #E61610;
}

.feedbackBorder {
    border-color: rgb(0,161,201);
}

.scroll.padding {
    width: 100% !important;
    height: 100% !important;
}

.bar.bar-aac {
    border-color: RGB(69,107,165) !important;
    background-color: RGB(69,107,165) !important;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%) !important;
    color: #fff !important;
}

    .bar.bar-aac .title {
        color: #fff !important;
    }

.tabs {
    border-color: RGB(69,107,165) !important;
    background-color: RGB(69,107,165) !important;
}

.gold .ion-ios7-cog:before {
    color: rgb(231, 200, 37);
}

.silver .ion-ios7-cog:before {
    color: rgb(152, 152, 152);
}

.platinum .ion-ios7-cog:before {
    color: rgb(33, 33, 33);
}

.sliced {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.fullscreen-image {
    background: url(../img/splash2.png) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}


//////////////////// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600); #phone {
    width: 320px;
    height: 560px;
    background: #dfdfdf;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
    top: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


#people, .person {
    width: 250px;
    height: 265px;
}

#people {
    position: relative;
    margin: 0 auto;
}

.person {
    position: absolute;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .1s linear;
}

    .person:nth-child(1) {
        z-index: 5;
    }

    .person:nth-child(2) {
        z-index: 4;
        top: 7px;
        transform: scale(0.98);
    }

    .person:nth-child(3) {
        z-index: 3;
        top: 14px;
        transform: scale(0.96);
    }

    .person:nth-child(n+4) {
        z-index: 2;
        transform: scale(0.7);
    }

    .person:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
    }

    .person img {
        width: 105%;
        background: white;
    }

    .person span {
        position: absolute;
        bottom: 0;
        left: 0;
        background: white;
        width: 100%;
        padding: 10px;
        font: 16px "Open Sans";
        line-height: 30px;
        color: #555;
    }

        .person span strong {
            font-weight: 600;
            color: #000;
        }

@keyframes yes {
    0% {
        transform: scale(1) rotateZ(0deg);
        left: 0;
    }

    30% {
        transform: scale(1.05) rotateZ(0deg);
        left: 0;
    }

    100% {
        transform: rotateZ(45deg);
        left: 400px;
    }
}

.animateYes {
    animation-fill-mode: both;
    animation: yes 0.6s linear;
}

    .animateYes:before {
        transform: rotateZ(-35deg);
        background: url(http://i.imgur.com/Zkwj970.png) no-repeat center 10px;
    }

@keyframes no {
    0% {
        transform: rotateZ(360deg);
        right: 0;
    }

    30% {
        transform: scale(1.05) rotateZ(360deg);
        right: 0;
    }

    100% {
        transform: rotateZ(315deg);
        right: 400px;
    }
}

.animateNo {
    animation-fill-mode: both;
    animation: no 0.6s linear;
}

    .animateNo:before {
        transform: rotateZ(35deg);
        background: url(http://i.imgur.com/XqQZ4KR.png) no-repeat center 10px;
    }

#control {
    position: relative;
    margin: 15px auto 0;
    width: 250px;
}

    #control .button {
        width: 65px;
        height: 65px;
        background: #eee;
        position: absolute;
        top: 5px;
        border-radius: 50%;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }

        #control .button .trigger {
            background: white;
            display: block;
            border-radius: 50%;
            width: 120%;
            height: 77%;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            transition: all .1s;
            text-align: center;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            right: 5px;
        }

            #control .button .trigger:active {
                transform: translateY(-50%) scale(0.75);
                transition: all .05s linear;
            }

            #control .button .trigger:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                font-family: 'ionicons';
            }

    #control .no {
        left: 38px;
    }

        #control .no .trigger:before {
            content: "\f124";
            font-size: 28px;
            color: #000;
        }

    #control .yes {
        right: 38px;
    }

        #control .yes .trigger:before {
            content: "\f125";
            font-size: 28px;
            color: #000;
        }

    #control .info {
        left: calc(50% - 23px);
        top: 17px;
        height: 46px;
        width: 46px;
        padding: 0 !important;
        min-width: 46px !important;
    }

        #control .info .trigger {
            width: 70%;
            height: 70%;
            left: 0;
        }

            #control .info .trigger:before {
                content: "\f101";
                font-size: 16px;
                color: #3498db;
            }

#copy {
    font: 12px "Open Sans";
    color: #ccc;
    position: fixed;
    top: 5px;
    left: 5px;
}

    #copy a {
        color: #aaa;
    }
