<ion-view title="{{pageTitle}}">
    <ion-side-menus>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-search color-white" ng-click="showSearchBox = !showSearchBox">
                <i class="icon ion-search"></i>
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button menu-toggle="right" class="button button-icon icon ion-navicon color-white" ng-click="toggleRight()"></button>
        </ion-nav-buttons>


        <!-- Center content -->
        <ion-side-menu-content>
            <ion-content class="has-header">
                <div class="bar bar-header item-input-inset search-bar" ng-show="showSearchBox">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios7-search placeholder-icon"></i>
                        <input type="search" placeholder="Buscar" ng-model="searchQuery">
                    </label>
                </div>
                <div>
                    <ion-list>
                        <ion-item ng-repeat="event in events | filter: searchQuery | filter: matchDate(filterDates) | filter: matchCategory(filterCategories) | filter: matchLocation(filterLocation)" class="scheduleEventPadding">
                            <div class="row" style="padding:0; height:75px;">
                                <div class="col-80" style="width:80%;">
                                    <div class="row">
                                        <div class="col-25" style="width:25%;">
                                            <div style="font-size: 16px; font-weight: bold; width: 100%; margin: 0 auto 5px; text-align:center; ">{{getDateName(event.data.dateStart)}}</div>
                                            <div style="font-size: 10px; width: 100%; text-align: center;">{{getDate(event.data.dateStart)}}</div>
                                            <div style="font-size: 9px; width: 100%; text-align: center;">{{getInitTime(event.data.dateStart)}} - {{getEndTime(event.data.dateFinish)}}</div>
                                        </div>
                                        <div class="col-75" style="padding-left: 10px; width:75%; cursor:pointer; border-left: 5px solid {{event.data.categoryColor}};" ng-click="goToEvent({{event.data.id}})">
                                            <h5 style=" white-space:pre; font-weight:bold;">{{slice(event.data.title)}}</h5>
                                            <h6><i class="icon ion-pricetag" style="margin-right: 5px;"></i>{{event.data.categoryName}}</h6>
                                            <h6 style="margin-bottom: -3px;"><i class="icon ion-location" style="margin-right: 9px;"></i>{{event.data.location}}</h6>
                                            <div class="row" style="padding-top: 0; padding-left: 0;">
                                                <div class="col col-10" style="padding-top: 0; padding-left: 0; max-width: 15px;">
                                                    <h6 style="display: inline !important; margin-right: -3px; "><i class="icon ion-person-stalker" style="margin-right: 5px;"></i></h6>
                                                </div>
                                                <div class="col col-90" style="padding-top: 7px; padding-left: 0;">
                                                    <h6 ng-repeat="speaker in event.data.speakers" style="display:block !important; font-size:9px;">
                                                        {{speaker.completeName}} - {{speaker.function}}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-20" style="border-left: 1px dashed grey;">
                                    <a class="button button-icon icon {{icon}}" ng-click="activityClick({{event.data.id}})" ng-class="{positive: event.checked}" style="width: 100%;"></a>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-content>
        </ion-side-menu-content>

        <!-- Right menu -->
        <ion-side-menu side="right">
            <ion-content>
                <ion-list>
                    <div ng-repeat="group in filterGroups">
                        <ion-item class="item-stable"
                                  ng-click="toggleGroup(group)"
                                  ng-class="{active: isGroupShown(group)}" style="font-weight: bold; font-size: 14px; padding:10px;">
                            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp;
                            {{group.name}}
                        </ion-item>
                        <ion-checkbox class="item-accordion"
                                      ng-repeat="item in getItemsFromGroup(group)"
                                      ng-model="item.checked"
                                      ng-checked="item.checked"
                                      ng-show="isGroupShown(group)" style="font-size:10px;">
                           {{item.name}} 
                        </ion-checkbox>
                    </div>
                </ion-list>

        </ion-side-menu>
    </ion-side-menus>
</ion-view>
