<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lupersoft.aac" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>AAC.85</name>
	<description>
		85° Congreso de cirugia
	</description>
	<author email="pepita@pdp.com" href="http://ionicframework.com/">
		Lupersoft
	</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="2000" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="orientation" value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->


<gap:splash src="splash/ios/Default.png" width="320" height="480" />
<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
<gap:splash src="splash/ios/Default-Landscape_at_2x.png" width="2048" height="1496" />
<gap:splash src="splash/ios/Default-Portrait_at_2x.png" width="1536" height="2008" />

<icon src="icons/ios/classic.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/ipad.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/retina.png" gap:platform="ios" width="114" height="114" />
<icon src="icons/ios/retina_ipad.png" gap:platform="ios" width="144" height="144" />
<icon src="icons/icon.png" />

  <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
     -->
     <preference name="BackupWebStorage" value="none" />

     <feature name="StatusBar">
     	<param name="ios-package" value="CDVStatusBar" onload="true" />
     </feature>
     <feature name="SplashScreen">
     	<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
     </feature>
     <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
     <gap:plugin name="org.apache.cordova.camera"/>
     <gap:plugin name="org.apache.cordova.contacts"/>
     <gap:plugin name="org.apache.cordova.file"/>
     <gap:plugin name="org.apache.cordova.splashscreen"/>
     <gap:plugin name="nl.x-services.plugins.calendar"/>
     <gap:plugin name="com.ionic.keyboard"/>
 </widget>
