<ion-view title="Inicio" ng-controller="HomeController" no-scroll>
    <ion-nav-buttons side="right">
        <a ng-click="scanCode()" class="button button-icon icon ion-camera color-white "></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a href="#/tab/home/qr" class="button button-icon icon ion-qr-scanner color-white "></a>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <!--<div class="item item-body item-text-wrap lateralBorders topBorder bottomBorder feedbackNotifBody" style="padding: 16px 8px 16px 7px;">
            <div class="item item-image" ng-show="!{{showFeedback(cardTypes[1].userId)}}" style=" background-color: rgb(240,240,240); border: 0;">
                <img src="./img/alertImg.jpg" class="imgSize">
            </div>
            <div ng-show="{{showFeedback(cardTypes[1].userId)}}" style="margin-bottom:10px;">
                <div class="item item-image" style="background-color: rgb(240,240,240); border: 0;">
                    <img src="./img/feedbackImg.jpg" class="imgSize">
                </div>
                <h5><i class="icon ion-bookmark" style="margin-right: 11px; margin-left: 2px;"></i>{{cardTypes[1].activity}}</h5>
                <h5><i class="icon ion-person" style="margin-right: 9px;"></i>{{cardTypes[1].userName}}</h5>
            </div>
            <p style="font-size: 11px; color: black">{{sliceDesc(cardTypes[1].description)}}</p>
        </div>-->

            <div id="people">
                <carousel>
                    <slide class='person' ng-repeat="card in cardTypes">
                        <img src="./img/feedbackImg.jpg" class="imgSize">
                        <p style="font-size: 11px; color: black">{{sliceDesc(card.description)}}</p>
                    </slide>
                </carousel>
            </div>
            <div id="control">
                <div class="button no">
                    <a href="#" class="trigger"></a>
                </div>
                <div class="button info">
                    <a href="#" class="trigger"></a>
                </div>
                <div class="button yes">
                    <a href="#" class="trigger"></a>
                </div>
            </div>

    </ion-content>
</ion-view>
